body {
  font-family: Helvetica, Arial, sans-serif;
}

header, main {
  margin-bottom: 2em;
}

label, input {
  display: block;
}

.input-wrapper {
  display: block;
  margin: auto;
  width: 75%;
  padding: 5px;
}

.input-field {
  text-indent: 1em;
  outline: none;
  height: 32px;
  border: 1px solid #BABEC5;
  border-radius: 2px;
  transition-property: border;
  transition-duration: 0.35s;
  font-size:13px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 32px;
  min-width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.input-field:focus {
  border-color: #2CA01C;
}

.input-field:hover {
  box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25);
}

.input-field:disabled{
  background-color: #E3E5E8;
}

.required {
  border-color: #FF0000;
}

#output {
  min-height: 10em;
  text-indent: 0;
}

.qbo-btn {
  border: 1px solid #2CA01C;
  background-color: #2CA01C;
  color: #FFFFFF;
  border-radius: 3px;
  height: 32px;
  outline: none;
  vertical-align: middle;
  padding: 5px 10px 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: none;
  font-size: 13;
  margin: auto;
  width: 15%;
}

.qbo-btn:hover {
  background-color: #108000;
  cursor: pointer;
}

#btnwrap {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}
